*{
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template:

      "talkingHeads  header header "     20px
      "talkingHeads channels dialog-box " 500px
      "talkingHeads profile-status chat-box" 40px/
        50px     150px    1100px;
   }

.talkingHeads {
    grid-area: talkingHeads ;
    background-color: aqua;
}

.header {
    grid-area: header ;
    background-color: brown;

}

.channels {
    grid-area: channels  ;
    background-color: darkmagenta;

}

.dialog-box {
    grid-area: dialog-box  ;
    background-color: fuchsia;

}

.profile-status {
    grid-area: profile-status ;
    background-color: coral;

}

.chat-box {
    grid-area: chat-box  ;
    background-color: greenyellow;

}