<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linkedIn</title>
    <link rel="stylesheet" href="linkedIn.css">
</head>
<body>
    <div class="container">
        <div class="left-whitespace">
            <P>left whitespace</P>
        </div>

        <div class="header">
            <p>Header</p>
        </div>

        <div class="top-left">
            <p>top left</p>
        </div>
        
        <div class="center-left">
            <p>center left</p>
        </div>

        <div class="bottom-left">
            <p>bottom left</p>
        </div>

        <div class="main-upper">
            <p>Main upper</p>
        </div>

        <div class="feed">
            <p>feed</p>
        </div>

        <div class="top-right">
            <p>top right</p>
        </div>

        <div class="center-right">
            <p>center right</p>
        </div>

        <div class="bottom-right">
            <p>bottom right</p>
        </div>


        <div class="right-whitespace">
            <p>right whitespace</p>
        </div>

    </div>   
</body>
</html>